<!Doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css"  href="Android.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
	<title>Contact</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
     <a class="navbar-brand" href="#"> Vamsi Nagendra </a>
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="versions.html">Versions</a></li>
      <li><a href="Contact.html">Contact</a></li>
      <li><a href="About.html">About</a></li>
       <li><a href="guestbook">guestbook</a></li>
    </ul>
  </div>
</nav>

<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>